html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}



html {
  background: #f2f1f1;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  /* @apply bg-teal-600 opacity-75; */
  background:#7b71fe;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}


/* overrides */
.toast-top-center {
  top: 30px;
}

#toast-container {
  > div:hover {
    box-shadow: none;
    opacity: 1;
  }
  > div {
    opacity: 1;
  }
}

.loading-mask{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(0,0,0,.4);
  z-index:100;
}

